*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  height: 100vh;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: 133px 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  font-family:'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

/* создаю видимый фокус (обводку белого цвета в один пиксель по нажатию на tab) для "Утро", "День" и "Ночь" */
.search-form__label:has(:focus-visible) {
  border: 1px solid #ffffff;
} 

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-right: none;
  border-left: none; /* Убираем левую границу */
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #ffffff;
  appearance: none; /* привёл уникальное отображение элементов форм для каждой операционной системы к общему знаменателю. */
}

/* сбрасываю стандартный фокус (с синей рамкой) вокруг search-form__textfield (это строка поиска)   */
.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 212px;
}


/* Создаю черные квадраты 19х19px с белой рамкой слева от "Утро", "День" и "Ночь" */
.search-form__pseudo-checkbox {
  display: flex;
  background-color: transparent;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

/* создаём белый квадрат внутри белой рамки чтобы отметить состояние "checked" в чекбоксе "Время суток" */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display:flex;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  content: "";
}

/* ниже строчку использовал по рекомендации старшего студента из "Пачки" для организации подчеркивания при наведении на
"Утро", "День" и "Ночь" */
.search-form__pseudo-checkbox:hover + .search-form__label-text,
.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* создаю подчёркивание при наведении курсора на кнопку "Показать ещё" */
.more-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* при наведении на кнопку появляется курсор */
.button{
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

/* закрашиваю кнопки серым (#545050) цветом при нажатии на них  */
.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;  
  height: 34px;
  align-self: end;
  margin-bottom: 3px;
}

/* создаю подчёркивание при наведении курсора на кнопку "Найти" */
.search-form__submit-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  width: 260px;
  margin-top: 5px;
}

.content__accent {
  color: #545050;

}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 298px;
  overflow-y: auto;
  align-items: start;
}

.content__list-item {
  width: 394px;
  display: flex;
  margin-bottom: 30px;
}

/* убираю отступ снизу у последнего дочернего элемента родителя content__list-item */
.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  margin: 2px;
  display: block;
}

/* убираю стандартный focus вокруг карточек с видео */
.content__card-link:focus {
  outline: none;
}

/* добавляю focus карточкам с видео */
.content__card-link:focus-visible {
  border: 1px solid #ffffff;
}

/* при нажатии на карточку с видео меняю цвет фона на #545050 */ 
.content__card-link:active {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* рассчитал ширину контейнера: 394px - 194px = 200px (ширина content__video-card-description-container)  */
  width: 200px;
}

/* создаю подчёркивание заголовка и текста при наведении курсора на видео */
.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; 
  text-align: left;
  color: #ffffff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 399px;
  height: 34px;
  gap: 10px;
}

/* меняю стандартный фокус кнопки на фокус с белой рамкой с расстоянием в 2px от границ самой кнопки */
.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
} 

.content__card-link_current {
  background-color: #545050;
}